<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <style>
   		.layui-unselect {height:32px; }
   </style>
</head>
<body>
<div style="width:100%;margin-top: 16px;"> 
<form class="layui-form" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">车牌号</label>
    <div class="layui-input-block" style="width:300px;height:32px;">
      <input type="text" id="carNum" placeholder="请输入车牌号" class="layui-input" style="height:32px;">
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">车牌类型</label>
    <div class="layui-input-block" style="width:300px;height:32px;">
      <select name="licenseType" id="licenseType">
        <option value=""></option>
        <option value="1">蓝牌</option>
        <option value="2">绿牌</option>
        <option value="3">白牌</option>
      </select>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">车颜色</label>
    <div class="layui-input-block" style="width:300px;height:32px;">
      <select name="carColor" id="carColor">
        <option value=""></option>
        <option value="1">黑色</option>
        <option value="2">白色</option>
        <option value="3">红色</option>
        <option value="4">黄色</option>
        <option value="5">绿色</option>
        <option value="6">棕色</option>
        <option value="7">蓝色</option>
      </select>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">车类型</label>
    <div class="layui-input-block" style="width:300px;height:32px;">
      <input type="text" id="carType" placeholder="请输入车类型     如:奥迪" class="layui-input" style="height:32px;">
    </div>
  </div>
  
</form>
</div> 
<script type="text/javascript" src="/js/jquery.min.js"></script>          
<script type="text/javascript" src="/layui/layui.js"></script>
<script>
layui.use(['form', 'layer'], function(){
  var form = layui.form
  ,layer = layui.layer;
});

var carnumEdit = "[[${carnum}]]";
if(carnumEdit != null){
   $('#carNum').val(carnumEdit);
}

var licensetypeEdit = "[[${licensetype}]]";
if(licensetypeEdit != null){
	$('#licenseType').val(licensetypeEdit);
}

var carcolorEdit = "[[${carcolor}]]";
if(carcolorEdit != null){
	$('#carColor').val(carcolorEdit);
}

var cartypeEdit = "[[${cartype}]]";
if(cartypeEdit != null){
   $('#carType').val(cartypeEdit);
}

</script>

</body>
</html>